<!DOCTYPE html>
<html>

<head>
    <title>Pregnant Women and Child</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Pregnant.css">
    <link rel="stylesheet" type="text/css" href="../static/css/preg2.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajav/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.rawgit.com/bradley/Blotter/master/build/blotter.min.js"></script>
    <script src="https://cdn.rawgit.com/bradley/Blotter/3007fe6e/build/materials/fliesMaterial.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>

</head>

<body>
    <!-- <div class="container" id="main">
            <div class="register">
                <form action="#">
                    <h1>Create Account</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <p>or use your email for registration</p>
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <button> Sign up</button>
                </form>
            </div>
            <div class="register2">
                <form action="#">
                    <h1>Create Account</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <p>or use your email for registration</p>
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <input type="text" name="txt" placeholder="Name" required="">
                    <button> Sign up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-left">
                        <h1>Welcome back</h1>
                        <p>to keep you connected with us please login</p>
                        <button id="signIn"> Sign in</button>

                    </div>
                    <div class="overlay-right">
                        <h1>Welcome back</h1>
                        <p>to keep you connected with us please login</p>
                        <button id="signUp"> Sign in</button>

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            const signUpButton = document.getElementById('signUp');
            const signINButton = document.getElementById('signIn');

            signUpButton.addEventListener('click', () => {
                main.classList.add("right-panel-active");
            });
            signInButton.addEventListener('click', () => {
                main.classList.remove("right-panel-active");
            });

        </script> -->
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multistep form</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    <body>
        <header>
            <div id="hang">
                SWASTHA BHARAT
            </div>
            <div class="nav-bar">
                <a href="" class="logo">Logo</a>
                <div class="navigation">
                    <div class="nav-items">
                        <i class="uil uil-times nav-close-btn"></i>
                        <a href="#"><i class="uil uil-home"></i> Home</a>
                        <a href="#"><i class="uil uil-compass"></i> Explore</a>
                        <a href="#"><i class="uil uil-info-circle"></i> About</a>
                        <a href="#"><i class="uil uil-document-layout-left"></i> Blog</a>
                        <a href="#"><i class="uil uil-envelope"></i> Contact</a>
                    </div>
                </div>
                <i class="uil uil-apps nav-menu-btn"></i>
            </div>
        </header>

        <div class="text-box">
            <div class="media-icons">
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-twitter"></i></a>
            </div>
        </div>
        <div id="dis">
            <div class="heading" style="transform: translate(-42vw,-33vh);" id="main">
            </div>
            <script>

                container = document.getElementById("main");

                var text = new Blotter.Text("ANTI-NATAL CARE", {
                    family: "serif",
                    weight: "900",
                    size: 110,
                    fill: "#fff",
                    paddingLeft: 80,
                    paddingRight: 80,
                    paddingTop: 80,
                    paddingBottom: 80
                    
                });

                var material = new Blotter.FliesMaterial();
                material.uniforms.uPointCellWidth.value = 0.01;
                material.uniforms.uPointRadius.value = 0.6;
                material.uniforms.uSpeed.value = 3.5;

                var blotter = new Blotter(material, {
                    texts: text
                });

                var scope = blotter.forText(text);
                scope.appendTo(container);
                

            </script>
            <div class="container">

                <div class="overlay">
                    <div class="Preg">
                        <a href="../templates/Woman.html">
                        <button class="myBtn" id="btn-p" onclick="fadeOut()">Pregnant Woman</button></a>
                    </div>
                    <div class="child">
                        <button class="myBtn" id="btn-c" onclick="fadeOut()">Child</button>
                    </div>
                </div>
            </div>
        </div>
                <!-- <script>
            var btn = document.getElementById("btn-p");
            var btn2 = document.getElementById("btn-c");
            var prg = document.getElementById("prg");
            var cld = document.getElementById("cld");

            btn.onclick = function () {

                if (prg.style.display == "block") {
                    prg.style.display == "none";
                }
                if (dis.style.display == "block") {
                    dis.style.display == "none";
                }

                else {
                    prg.style.display = "flex";
                }
                {
                    dis.style.display = "none";
                }

            } -->

           

    </body>

    </html>

